<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="~/Style/style.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="sidebar close ">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="~/Image/notecon.ico" alt="logo" />
                </span>

                <div class="text header-text">
                    <span class="name">ERP</span>
                    <span class="profession">System</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="@Url.Action("AdminDashboard","Default")">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="@Url.Action("Account","Default")">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Account</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="@Url.Action("PurchaseRequest","Default")">
                            <i class='bx bx-purchase-tag-alt icon'></i>
                            <span class="text nav-text">Purchase Request</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="@Url.Action("Index","Inventory")">
                            <i class='bx bx-data icon'></i>
                            <span class="text nav-text">Inventory</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="@Url.Action("Supplier","Default")">
                            <i class='bx bx-store-alt icon'></i>
                            <span class="text nav-text">Supplier</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>
    @RenderBody()

    <script>
        $(function () {
            const body = document.querySelector("body"),
                sidebar = body.querySelector(".sidebar"),
                toggle = body.querySelector(".toggle"),
                searchBtn = body.querySelector(".search-box"),
                modeText = body.querySelector(".mode-text");

            toggle.addEventListener("click", () => {
                sidebar.classList.toggle("close");
            });
        })
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
  
</body>
</html>
