@model IPagedList<ERPSystem.Models.ViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using PagedList;
@using PagedList.Mvc;

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Style/accountablestyle.css" rel="stylesheet" />
</head>
<div class="home">
    <div class="temp-container">
        <div class="left-content">
            <h2>Index</h2>
            <p>@Html.ActionLink("ADD ITEM", "Create")</p>
        </div>
        <div class="right-content">
            @using (Html.BeginForm("Search", "Inventory"))
            {
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="searchPhrase">Search ID</label>
                            <input type="text" name="searchPhrase" id="searchPhrase" class="form-control" />
                            <input type="submit" value="Search" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            }
            @using (Html.BeginForm("Index", "Inventory"))
            {
                <input type="submit" value="Show All" class="btn btn-default" />
            }

            @using (Html.BeginForm("Index", "Inventory", FormMethod.Get))
            {
                <div class="form-horizontal">
                    <label for="sortName">Sort By:</label>
                    <select id="sortName" name="sortName" class="form-control">
                        <option value="NONE">Select Column</option>
                        <option value="product.PRODID">Product ID</option>
                        <option value="product.prodName">Product Name</option>
                        <option value="invt_QOH">Quantity On Hand</option>
                        <option value="INVT_INDATEATE">Date Created</option>
                        <option value="PRODPRICEUNIT">Price</option>
                        <option value="Invt_IsActive">Deactivated</option>
                    </select>
                    <br>
                    <input type="submit" value="Sort" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
    <div class="table-container">
        <div>
            <table class="tbl">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().inv_InDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().prod_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().prod_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().prod_Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().inv_QOH)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ProdUnit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ProdPriceUnit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ProdTotalPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().isActive)
                        </th>
                        <th colspan="2">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.inv_InDate)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.prod_Id)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.prod_Name)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.prod_Description)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.inv_QOH)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.ProdUnit)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.ProdPriceUnit)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.ProdTotalPrice)
                            </th>
                            <th>
                                @(item.isActive == 1 ? "Active" : "Inactive")
                            </th>
                            <td>
                                @if (item.isActive == 1)
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.prod_Id }) @:|

                                    @Html.ActionLink("Delete", "Delete", new { id = item.prod_Id });
                                }
                                else
                                {
                                    @Html.ActionLink("Reactivate", "Reactivate", new { id = item.prod_Id, pages = ViewBag.Pages, sortName = ViewBag.CurrentSort })
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @Html.PagedListPager(Model, pages => Url.Action("Index", "Inventory", new { pages, sortName = ViewBag.CurrentSort}))
</div>




