@model ERPSystems.Models.QuoteModel

@{
    ViewBag.Title = "CustodianQuotation";
    Layout = "~/Views/Shared/_CustodianPage.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link href="~/Style/quotation.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>

<section class="home">
    <div class="main--content">
        <div class="tabular--wrapper">
            <h3 class="table-title">
                Create Quotations
            </h3><br />
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Purchase ID</th>
                            <th>Date Created</th>
                            <th>Total Item Quantity</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.quoteForms != null)
                            {
                                foreach (var i in Model.quoteForms)
                                {
                                    if (i.Status == "Pending")
                                    {
                                        <tr>
                                        <td>@i.PurID</td>
                                        <td>@i.PurDate</td>
                                        <td>@i.TotalItem</td>
                                        <td>@i.Status</td>
                                        <td>
                                            <button class="create" data-pur-id="@i.PurID" data-pur-date="@i.PurDate">
                                                <span>
                                                    <i class="bx bx-plus"></i>
                                                </span>
                                                <span>Create QF</span>
                                            </button>
                                        </td>
                                    </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <div class="invoice-wrapper show" id="print-area">
        <div class="invoice">
            <div class="exit">
                <i class='bx bxs-exit'></i>
            </div>
            <div class="invoice-container">
                <div class="invoice-head">
                    <div class="invoice-head-top">
                        <div class="invoice-head-top-left text-start">
                            <img src="images/logo.png">
                        </div>
                        <div class="invoice-head-top-right text-end">
                            <h3>Quotation Form</h3>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="invoice-head-middle">
                        <div class="invoice-head-middle-left text-start">
                            <p><span class="text-bold">Date</span>:<input id="purdate" readonly style="border:none" /></p>
                        </div>
                        <div class="invoice-head-middle-right text-end">
                            <p><span class="text-bold">Purchase No# </span><input id="purid" readonly style="border:none" /></p>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="invoice-head-bottom">
                        <div class="invoice-head-bottom-left" id="supplierInfo">
                            <ul class="ul-group">
                                <li class='text-bold'>Quotation From:</li>
                                <li>Company Name</li>
                                <li><input id="suppname" type="text" required /></li>
                                <li>Zip Code</li>
                                <li><input id="suppzcode" type="text" pattern="[0-9]{4}" placeholder="Enter a 4-digit zip code" required /></li>
                                <li>Barangay</li>
                                <li><input id="suppbarangay" type="text" required /></li>
                                <li>City</li>
                                <li><input id="suppcity" type="text" required /></li>
                                <li>Municipality</li>
                                <li><input id="suppmunicipality" type="text" required /></li>
                                <li>Phone No# </li>
                                <li><input id="suppphone" type="text" pattern="[0-9]{10}" placeholder="Enter a 11-digit phone number" required /></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="overflow-view">
                    <div class="invoice-body">
                        <table>
                            <thead id="dataTableHead">
                                <tr>
                                    <td class="text-bold">Product Id</td>
                                    <td class="text-bold">Product Name</td>
                                    <td class="text-bold">Description</td>
                                    <td class="text-bold">Quantity</td>
                                    <td class="text-bold">Unit</td>
                                    <td class="text-bold">UnitPrice</td>
                                </tr>
                            </thead>
                            <tbody id="dataTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="quotation-form" id="prices">
                    <div class="result-group">
                        <label for="subtotal">Subtotal:</label>
                        <input type="text" id="subtotal" readonly>
                    </div>
                    <div class="result-group">
                        <label for="discount">Discount(%):</label>
                        <input type="number" class="discountInput" oninput="calculate()" min="1" max="100000">
                    </div>
                    <div class="result-group">
                        <label for="total">Total:</label>
                        <input type="text" id="total" readonly>
                    </div>
                </div>
                <div class="invoice-foot text-center">
                    <p><span class="text-bold text-center">NOTE:&nbsp;</span>This is computer generated receipt and does not require physical signature.</p>
                    <div class="invoice-btns">
                        <button id="saveButton" type="button" class="invoice-btn" style="background-color: #d4edda; color: #155724;">
                            <span>
                                <i class="fas fa-check"></i>
                            </span>
                            <span>Save</span>
                        </button>
                        <button type="button" class="invoice-btn" onclick="goBack()" style="background-color: #f8d7da; color: #721c24;">
                            <span>
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/quotation.js"></script>
</section>