@model ERPSystems.Models.Account
@{
    ViewBag.Title = "RequestorSettings";
    Layout = "~/Views/Shared/_RequestorPage.cshtml";
}

@{
    var Message = TempData["Message"] as string;
    if (!string.IsNullOrEmpty(Message))
    {
        <script>
            alert('@Message ');
        </script>
    }
}
<head>
    <link href="~/Style/settings.css" rel="stylesheet" />
</head>
<section class="home">
    <div class="main--content">
        @using (Html.BeginForm("UpdateAccount", "RequestorPage"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Account Details</h4>
                <hr />
                <div class="info-table">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.AccFname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AccFname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AccFname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <input type="hidden" name="AccId" value="@Model.AccId" />
                    <input type="hidden" name="AccType" value="@Model.AccType" />

                    <div class="form-group">
                        @Html.LabelFor(model => model.AccMname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AccMname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AccMname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AccLname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AccLname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AccLname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</section>

