@model ERPSystem.Models.ProductModel

@{
    ViewBag.Title = "productForm";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link href="~/Style/request.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Style/TableDesign.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<section class="home">
    <div class="main--content">
        <div class="tabular--wrapper">
            @using (Html.BeginForm("ProcessCreate", "Product"))
            {
                @Html.AntiForgeryToken()

                <div class="header-container">
                    <h1>ProductModel</h1>
                </div>
                <br /><hr /><br />
                <div class="f-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.prod_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.prod_Name, new { htmlAttributes = new { @class = "f-control" } })
                            @Html.ValidationMessageFor(model => model.prod_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.prod_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.prod_Description, new { id = "prodDescription", htmlAttributes = new { @class = "from-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.prodCategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.prodCategoryID, ViewBag.categories as SelectList, "Select Category", new { @class = "form-control", data_val = "false" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.supplierID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.supplierID, ViewBag.suppliers as SelectList, "Select Supplier", new { @class = "form-control", data_val = "false" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                    <br />
                </div>
            }

            @{
                // Retrieve success or error messages from TempData
                var successMessage = TempData["Success"] as string;
                var errorMessage = TempData["Error"] as string;
            }

            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success" role="alert" style="color:lawngreen">
                    @successMessage
                </div>
            }

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger" role="alert" style="color:red">
                    @errorMessage
                </div>
            }
            <div class="r-content">
                @Html.ActionLink("Back to List", "index")
            </div>
        </div>
    </div>
</section>

