@model ERPSystems.Models.Account
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Style/register.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.13.2.js"></script>
</head>
<div class="main-container ">
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.AccFname)
            @Html.TextBoxFor(model => model.AccFname, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccLname)
            @Html.TextBoxFor(model => model.AccLname, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccMname)
            @Html.TextBoxFor(model => model.AccMname, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AccUserName)
            @Html.TextBoxFor(model => model.AccUserName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccPassword)
            @Html.PasswordFor(model => model.AccPassword, new { @class = "form-control" })
        </div>
        <!-- Add more fields as needed -->

        <button type="submit" class="btn btn-primary">Register</button>
        <div class="form-group">
            <label>@ViewBag.Message</label>
        </div>
    }
</div>
<script src="~/Scripts/register.js"></script>




