@model ERPSystem.Models.CategoryModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Create</h2>
<head>

</head>
<div class="home">
    @using (Html.BeginForm("ProcessCreate", "Category"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>CategoryModel</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    @{
        // Retrieve success or error messages from TempData
        var successMessage = TempData["Success"] as string;
        var errorMessage = TempData["Error"] as string;
    }
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success" role="alert">
            @successMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
